html {
    font-family: Arial;
}
td, th {
    border: 2px solid white;
}

.rojo {
    color:red;
}
.resaltado {
    background:lightgray;
}
#tc {
    font-style: italic;
    background-color: white;
    border-collapse: collapse;
    border:3px solid lightgray;
    text-align: center;
}
img[src$=".png"] {
    background: #000000 ;
}
h1 {
    background: #b71234;
    color: #bfbfbf;
}
td {
    padding: 4px;
}
th {
    background: lightgray;
}
.lg {
    background: #adff2f ;
}
.lb {
    background: #ffd700 ;
}
.lp {
    background: #dda0dd ;
}
.link {
    padding: 8px;
    background: black ;
    text-decoration: none;
    color:white;
}