<!doctype html>
<html lang="es">
    <%- include ("partials/head") %>
    <body>

    <%- include ("partials/header") %>
    <%- include ("partials/navbar") %>
    <%# if(resultado.length  ===0) window.alert("¡Lo sentimos! No tenemos ese destino")%>
    
    <!--BARRA BUSQUEDA POR NOMBRE DESTINO-->
    <div class="row m-3 text-center rounded-4" id="buscar" style="overflow: hidden;height:35em;background-image:url('../imagenes/vacaciones-2.jpg'); background-repeat: no-repeat;background-position: center;">
        <form  class="my-auto  "method="POST" action="submitSearch" >
            <input class="p-4 rounded-4"style="border:0px; font-size:1.5em"type="text" placeholder="Buscar destino.."  id="search" name="search" >
            <button type="submit" class="btn btn-lg py-3 px-4">
                <i class="fa fa-search "></i>
            </button>
        </form>
    </div>
    <!--TEXTO INTRODUCTORIO-->
    <div  class="text-center m-3 oldrose rounded-4 p-3 " style="font-size: large;" >
        <h3>¡Bienvenidos a Volanding, tu puerta de entrada al mundo de los viajes y la aventura!</h3>
        <p>
            En Volanding, creemos que cada viaje es una oportunidad para crear recuerdos inolvidables
            y explorar nuevos horizontes.<br> Ya sea que estés planeando unas merecidas vacaciones, 
            un viaje de negocios o una escapada de fin de semana, estamos aquí para hacer que tus 
            sueños de volar se hagan realidad.</p>
        <p>Explora nuestro sitio web para descubrir una amplia selección de destinos, 
            ofertas especiales y consejos de viaje.<br> Ya sea que sueñes con playas de arena blanca, 
            ciudades históricas, aventuras en la naturaleza o destinos exóticos, 
            en Volanding te ayudaremos a encontrar la mejor opción para ti.
        </p>
        <p>Así que, ¿qué estás esperando? Únete a la familia de Volanding y prepárate para 
            despegar hacia tus próximas aventuras. </p>
        <h5>¡Estamos emocionados de ser tu compañero
            de viaje en cada paso del camino!
        </h5>
    </div>
    <!-- <h1 style="font-size:20em"class="display-1 align-center">HOME</h1> -->
    <%- include ("partials/footer") %>
</body>
</html>