    <h2>Información técnica</h2>

    <h3>Sobre nosotros</h3>
    <p>Bienvenido a nuestra plataforma de gestión de reservas, creada con dedicación y pasión por un equipo comprometido con la eficiencia y la comodidad. Somos un grupo de desarrolladores estudiantes de la Universidad Complutense de Madrid (UCM), apasionados por la tecnología y la mejora de la experiencia universitaria.</p>

    <p>Nuestra misión es simplificar el proceso de reserva de espacios en la UCM, proporcionando una herramienta intuitiva y fácil de usar. Nos esforzamos por ofrecer soluciones innovadoras que beneficien a toda la comunidad universitaria, mejorando la organización y la accesibilidad a las instalaciones.</p>

    <p>Siendo conscientes de los desafíos que enfrenta la comunidad universitaria, hemos diseñado esta aplicación con el objetivo de optimizar la gestión de recursos y tiempo, facilitando la reserva de aulas, salas de estudio y otros espacios dentro de la UCM.</p>

    <p>Gracias por confiar en nuestra aplicación para simplificar y mejorar tu experiencia en la Universidad Complutense de Madrid. Estamos comprometidos con la excelencia y la satisfacción de nuestros usuarios.</p>

    <p>Equipo de desarrollo<br>
    Plataforma de Gestión de Reservas UCM</p>
