<h2>Gestión de Cookies</h2>

    <p>En nuestro sitio web de gestión de reservas, utilizamos cookies para mejorar tu experiencia de usuario. Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio. Estas cookies nos permiten personalizar el contenido, ofrecer funcionalidades de redes sociales y analizar nuestro tráfico.</p>

    <h3>Tipos de Cookies</h3>
    <p><strong>Cookies esenciales:</strong> Son necesarias para el funcionamiento básico del sitio y garantizan la seguridad y la integridad de tu sesión.</p>
    
    <p><strong>Cookies de funcionalidad:</strong> Mejoran la funcionalidad del sitio al recordar tus preferencias, como el idioma o la región.</p>

    <p><strong>Cookies de rendimiento:</strong> Nos ayudan a entender cómo interactúas con nuestro sitio, permitiéndonos mejorar su rendimiento y ofrecerte una experiencia más eficiente.</p>

    <h3>Control de Cookies</h3>
    <p>Tienes la opción de gestionar las cookies en tu navegador. Puedes bloquear o eliminar las cookies a través de la configuración de tu navegador o configurar tu preferencia para recibir una notificación antes de que una cookie sea almacenada.</p>

    <p>Al continuar utilizando nuestro sitio sin cambiar la configuración de tu navegador, aceptas nuestro uso de cookies de acuerdo con esta política.</p>

    <h3>Más información</h3>
    <p>Para obtener más información sobre cómo utilizamos las cookies y cómo protegemos tu privacidad, consulta nuestra política de privacidad.</p>

    <p>Gracias por confiar en nosotros y por ser parte de nuestra comunidad.</p>

    <p>Equipo de desarrollo<br>
    Plataforma de Gestión de Reservas UCM</p>