<h2>Aviso legal</h2>

    <h3>Responsabilidad</h3>
    <p>La plataforma de gestión de reservas UCM opera con el compromiso de proporcionar información precisa y actualizada. Sin embargo, no garantizamos la exhaustividad o la precisión de la información, y no nos hacemos responsables de posibles errores u omisiones.</p>

    <h3>Propiedad intelectual</h3>
    <p>Todos los contenidos de esta plataforma, incluyendo textos, gráficos, logotipos y software, están protegidos por derechos de propiedad intelectual. Queda prohibida la reproducción no autorizada de cualquier parte de la plataforma sin el consentimiento previo por escrito.</p>

    <h3>Vínculos externos</h3>
    <p>Nuestra plataforma puede contener enlaces a sitios web externos. No tenemos control sobre el contenido de estos sitios y no nos hacemos responsables de su exactitud, legalidad o contenido. La inclusión de enlaces externos no implica una endorsación por nuestra parte.</p>

    <h3>Modificaciones</h3>
    <p>Nos reservamos el derecho de modificar, agregar o eliminar partes de estos términos en cualquier momento. Se te notificará sobre cambios significativos, pero se recomienda revisar regularmente esta sección para estar informado sobre cualquier actualización.</p>

    <h3>Contacto</h3>
    <p>Si tienes preguntas o inquietudes sobre nuestros términos legales, por favor, ponte en contacto con nosotros a través de los medios proporcionados en la sección de contacto.</p>

    <p>Agradecemos tu comprensión y colaboración para mantener una experiencia segura y legal para todos los usuarios de la plataforma de gestión de reservas UCM.</p>

    <p>Equipo de desarrollo<br>
    Plataforma de Gestión de Reservas UCM</p>