<div class="row">
    <div class="col">
        <a href="https://github.com/jesuggc" target="_blank"> 
            <img class="rounded-circle w-100" src="/images/github_jesus.jpg">
        </a>
    </div>
    <div class="col">
        <h2>Jesús González</h2>
        <h5>Desarrallor de software</h5>
        <p>Jesús es nuestro experto en desarrollo de software de Full Stack, especializado en la creación de experiencias web excepcionales. Con habilidades técnicas sólidas y un enfoque creativo, Jesús impulsa la innovación en Volanding.</p>
    </div>
    <div class="col">
        <a href="https://github.com/xlenyit" target="_blank"> 
            <img class="rounded-circle w-100" src="/images/github_elena.jpg">
        </a>
    </div>
    <div class="col">
        <h2>Elena Caridad</h2>
        <h5>Desarrallora de software</h5>
        <p>Elena: nuestra mente creativa detrás del código. Con habilidades excepcionales tanto en el frontend como en el backend, Elena transforma ideas en experiencias digitales impactantes. Su pasión por el diseño impulsa nuestro equipo hacia nuevos horizontes tecnológicos.</p>
    </div>

</div>