<body>
    <h1>Política de Privacidad - Volanding</h1>

    <h2>Protección de tu Privacidad</h2>
    <p>En Volanding, valoramos y respetamos tu privacidad. Esta política de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que nos proporcionas a través de nuestro sitio web. Al utilizar nuestros servicios, aceptas las prácticas descritas en esta política.</p>

    <h2>Información que Recopilamos</h2>
    <p>Recopilamos información personal como tu nombre, dirección de correo electrónico y detalles de contacto cuando te registras en nuestro sitio web o haces una reserva. También podemos recopilar información sobre tus preferencias de viaje y actividades de navegación en nuestro sitio para mejorar tu experiencia.</p>

    <h2>Cómo Utilizamos tu Información</h2>
    <p>Utilizamos la información que recopilamos para procesar tus reservas, proporcionarte servicios personalizados y mejorar nuestro sitio web y servicios. También podemos utilizar tu información para enviarte ofertas especiales, promociones y boletines informativos si has dado tu consentimiento para recibirlos.</p>

    <h2>Compartir tu Información</h2>
    <p>No compartimos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para proporcionarte los servicios solicitados o cumplir con las leyes aplicables.</p>

    <h2>Seguridad de tu Información</h2>
    <p>Tomamos medidas de seguridad para proteger tu información personal contra pérdida, uso indebido y acceso no autorizado. Utilizamos tecnologías seguras para garantizar la transmisión segura de tus datos.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta sobre nuestra política de privacidad, no dudes en contactarnos en <a href="mailto:privacida@volanding.com">privacidad@volanding.com</a>.</p>
</body>
