<h2>Política de privacidad</h2>

    <p>Nuestra plataforma de gestión de reservas valora y respeta tu privacidad. A continuación, te proporcionamos información detallada sobre cómo manejamos tus datos personales y cómo los protegemos.</p>

    <h3>Recopilación de información</h3>
    <p>Recopilamos información personal solo cuando la proporcionas voluntariamente al utilizar nuestra plataforma. Esto puede incluir datos como tu nombre, dirección de correo electrónico y detalles de reserva.</p>

    <h3>Uso de la información</h3>
    <p>Utilizamos la información recopilada para gestionar y mejorar nuestras operaciones de reservas. No compartimos tu información personal con terceros sin tu consentimiento expreso, a menos que sea necesario para cumplir con requisitos legales.</p>

    <h3>Seguridad de los datos</h3>
    <p>Implementamos medidas de seguridad para proteger tus datos personales contra accesos no autorizados, modificaciones, divulgaciones o destrucciones. Solo el personal autorizado tiene acceso a esta información.</p>

    <h3>Cookies</h3>
    <p>Nuestro sitio utiliza cookies para mejorar tu experiencia. Consulta nuestra política de Cookies para obtener más información sobre su uso.</p>

    <h3>Derechos del usuario</h3>
    <p>Tienes derecho a acceder, rectificar, limitar y suprimir tus datos personales. Para ejercer estos derechos o realizar consultas sobre nuestra política de privacidad, ponte en contacto con nosotros a través de los medios proporcionados en la sección de contacto.</p>

    <h3>Actualizaciones de la política</h3>
    <p>Nos reservamos el derecho de actualizar nuestra política de privacidad. Te recomendamos revisar esta página periódicamente para estar informado sobre cualquier cambio.</p>

    <p>Gracias por confiar en nosotros y por ser parte de nuestra comunidad.</p>

    <p>Equipo de Desarrollo<br>
    Plataforma de Gestión de Reservas UCM</p>