    <h2>Trabaja con nosotros</h2>

    <p>Únete a nuestro apasionado equipo en la Plataforma de Gestión de Reservas UCM. Estamos siempre en busca de individuos talentosos y motivados que compartan nuestra visión de mejorar la experiencia universitaria a través de la innovación y la eficiencia.</p>

    <h3>Oportunidades de empleo</h3>
    <p>Explora las oportunidades laborales disponibles en áreas como desarrollo de software, diseño de experiencia de usuario, gestión de proyectos y más. Estamos comprometidos a proporcionar un entorno de trabajo inclusivo y en constante crecimiento.</p>

    <h3>Requisitos</h3>
    <p>Buscamos personas con habilidades excepcionales en sus respectivas áreas, iniciativa propia y la capacidad de trabajar en equipo. La experiencia previa en proyectos similares o entornos universitarios es valorada, pero no esencial.</p>

    <h3>Cómo aplicar</h3>
    <p>Si estás interesado en unirte a nuestro equipo, envía tu currículum y una carta de presentación a la dirección de correo electrónico proporcionada en la sección de contacto. Nos pondremos en contacto contigo si tu perfil coincide con nuestras necesidades actuales.</p>

    <p>Gracias por considerar ser parte de la Plataforma de Gestión de Reservas UCM. Estamos emocionados de conocer a nuevos talentos y trabajar juntos para mejorar la experiencia universitaria.</p>

    <p>Equipo de desarrollo<br>
    Plataforma de Gestión de Reservas UCM</p>
