<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head')%>
  <body>
    <div class="fakeBody pistachio">
      <%-include('partials/header')%>
      <div class="d-flex align-items-center h-75">
          <div class="row pistachio text-center justify-content-center w-100">
            <h1>Error 404: Página no encontrada</h1>
            <p>La página que estás buscando aun no existe, comprueba que lo hayas escrito bien!</p>
          </div>   
      </div>
    </div>
    <%-include('partials/footer')%>
  </body>
</html>
