<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head')%>
  <body>
    <div class="fakeBody pistachio">
      <%-include('partials/header')%>
      <div class="d-flex align-items-center h-75">
          <div class="row pistachio text-center justify-content-center w-100">
            <h1>Acceso denegado</h1>
            <p>No tienes permisos para acceder a esta página.</p>
          </div>   
      </div>
    </div>
    <%-include('partials/footer')%>
  </body>
</html>
