<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body >
    <div class="fakeBody pistachio"> 
      <%-include('partials/header') %>
      <div class="row pistachio ">
        <%-include('partials/adminNavbar') %>
          <div id="panel" class=" alignJustify mb-3">
              <div class=" text-center">
                  <h1>Panel de administrador</h1>
                  <p>Como administrador tendrás que verificar las <strong>solicitudes</strong> de registro</p>
                  <p>Dar privilegios de administrador a otros usuarios asignandoles el <strong>rol</strong></p>
                  <p>Configura la <strong>apariencia</strong> de la página de reservas de la UCM, consulta <strong>estadísticas</strong> de facultades o usuarios</p>
                  <p>Envia <strong>mensajes</strong> sobre las reservas a los usuarios, o añade nuevas opciones de <strong>instalaciones</strong></p>
              </div>
          </div>
      </div>   
    </div>   

    <script src="/javascripts/mydriver.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
