<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body >
    <div class="fakeBody pistachio"> 
        <%-include('partials/header') %>
        <div class="row pistachio ">
            <%-include('partials/adminNavbar') %>
            <div id="panel" class=" alignJustify mb-3">

              <p class="mx-4">A continuación se muestran los campos que puede modificar de la página, rellene solo los campos sobre los que quiera hacer cambios.</p>
              <form action="/admin/updateAppearance" method="POST" enctype="multipart/form-data">
                <div class="row claret mx-4 rounded-4 text-white ">
                  <div class="col my-2">
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo título</span>
                      </div>
                      <div class="col-5">
                        <input id="title" name="titulo" type="text" class="w-100">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo nombre</span>
                      </div>
                      <div class="col-5">
                        <input id="nombre" name="nombre" type="text" class="w-100">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nueva dirección</span>
                      </div>
                      <div class="col-5">
                        <input id="direccion" name="direccion" type="text" class="w-100">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo logo</span>
                      </div>
                      <div class="col-5">
                        <input class=" form-control" name="logo" accept="image/png, image/jpg, image/jpeg" type="file" id="formFile">
                      </div>
                      <div class="col-2"></div>
                    </div>
                  </div>
                  <div class="col my-2">
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo teléfono</span>
                      </div>
                      <div class="col-5">
                        <input id="numero" name="numero" type="text" class="w-100">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo correo</span>
                      </div>
                      <div class="col-5">
                        <input id="correo" name="correo" type="text" class="w-100">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo abreviacion</span>
                      </div>
                      <div class="col-5">
                        <input id="abreviacion" name="abreviacion" type="text" class="w-100">
                      </div>
                      <div class="col-2"></div>
                    </div>
                    <div class="row my-3">
                      <div class="col-5 text-end">
                        <span class="w-100">Nuevo favicon</span>
                      </div>
                      <div class="col-5">
                        <input class=" form-control" name="favicon" accept="image/png, image/jpg, image/jpeg" type="file" id="formFile">
                      </div>
                      <div class="col-2"></div>
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center mb-4">
                    <button type="submit" id="submit" class=" w-25 btn btn-primary btn-large">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
        </div>   
    </div>   
    <script src="/javascripts/appearance.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
