<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body >
    <div class="fakeBody pistachio"> 
      <%-include('partials/header') %>
      <div class="row pistachio ">
        <%-include('partials/adminNavbar') %>
          <div id="panel" class=" alignJustify mb-3">
              <div class="col">
                <div class="row mx-4">
                  <div class="col-4">
                    <h1>Buscar usuario:</h1>
                    <!-- Buscador -->
                    <input id="userSearcher" type="text">
                  </div>
                  <div id="showUsers" class="col-8 scrollable whitesmoke">
                    <div class="py-1 whitesmoke text-center cursorPointer row mx-2">
                      <div class="col my-4"><span>Sin resultados</span></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h1>Reservas del usuario:</h1>
                  <!-------------------->
                  <div class="row scrollable-x">
                    <div  class="d-flex justify-content-between ">
                    <% for (let indice = 0; indice < 20; indice++) { %>
                      <div class="col instalacion reservationCard text-center mx-1" data-id="">
                        <div class="row " style="background-color: cadetblue;">
                          <h3 class="nombreInstalacion">Laboratorio C</h3>
                        </div>
                        <div class="row bg-success mx-1">
                          <h5 class="fechaReserva">17/12/2023</h5>
                        </div>
                      </div>
                    <% } %>
                    </div>
                  </div>
                  <!-------------------->
                </div>
                <div class="row">
                  <h1>Detalles de la reserva</h1>
                  <div class="col">
                    <!-- Columna de detalles 1 -->
                  </div>
                  <div class="col">
                    <!-- Columna de detalles 2 -->
                  </div>
                </div>
              </div>
          </div>
      </div>   
    </div>   

    <%-include('partials/footer') %>
    <script src="/javascripts/history.js"></script>
  </body>
</html>
