<!DOCTYPE html>
<html lang="es">
  <%-include('partials/head') %>
  <body >
    <div class="fakeBody pistachio"> 
      <%-include('partials/header') %>
      <div class="row pistachio ">
        <%-include('partials/adminNavbar') %>
          <div id="panel" class=" alignJustify mb-3">
              <div class="col">
                <div class="row mx-4">
                  <div class="col-4 bg-danger d-flex align-items-center">
                    <h1>Buscar usuario:</h1>
                    <!-- Buscador -->
                    <input id="userSearcher" type="text">
                  </div>
                  <div id="showUsers" class="col-8 scrollable bg-info">
                    <div class="border-bottom py-1 whitesmoke text-center cursorPointer row mx-2" data-id="">
                      <div class="col-5"><span>largo que Nombre apellido apellido2</span></div>
                      <div class="col-2"><span>Correolargo@ucm.es</span></div>
                      <div class="col-5"><span>Educación – Centro de Formación del Profesorado</span></div>
                    </div>
                    <div class="border-bottom py-1 whitesmoke text-center cursorPointer row mx-2" data-id="">
                      <div class="col-5"><span>largo que Nombre apellido apellido2</span></div>
                      <div class="col-2"><span>Correolargo@ucm.es</div>
                      <div class="col-5"><span>Educación – Centro de Formación del Profesorado</div>
                    </div>
                    <div class="border-bottom py-1 whitesmoke text-center cursorPointer row mx-2" data-id="">
                      <div class="col-5"><span>largo que Nombre apellido apellido2</span></div>
                      <div class="col-2"><span>Correolargo@ucm.es</div>
                      <div class="col-5"><span>Educación – Centro de Formación del Profesorado</div>
                    </div>
                    <!-- Mostrar usuario  (scrollable) -->
                  </div>
                </div>
                <div class="row">
                  <h1>Reservas del usuario:</h1>
                  <!-- Mostrar reservas (scrollable-x) -->
                </div>
                <div class="row">
                  <h1>Detalles de la reserva</h1>
                  <div class="col">
                    <!-- Columna de detalles 1 -->
                  </div>
                  <div class="col">
                    <!-- Columna de detalles 2 -->
                  </div>
                </div>
              </div>
          </div>
      </div>   
    </div>   

    <%-include('partials/footer') %>
    <script src="/javascripts/history.js"></script>
  </body>
</html>
