<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/header') %>
    <div class="row">
      <div class="col-4 bg-primary">
        <h1>Bienvenido al servicio de reservas de la UCM</h1>
      </div>
      <div class="col-8 container-lg" >
        <div style="background-image: url('/images/laboratorio.jfif');background-color: #990032 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Laboratorios</h1>
        </div>
        <div style="background-image: url('/images/salaDeGrados.jfif');background-color: #7f9900 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Salas de grados</h1>
        </div>
        <div style="background-image: url('/images/salaDeReunion.jfif');background-color: #009966 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Salas de reunion</h1>
        </div>
        <div style="background-image: url('/images/salonDeActos.jfif');background-color: #190099 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Salon de actos</h1>
        </div>      
      </div>
    </div>   
    <script src="javascripts/mydriver.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
