<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body class="bg-info">
    
    <!-- <%-include('partials/notas') %> -->

    <form method="GET" action="submitLogin">
      <!-- <input type="text" name="nombre" placeholder="Nombre"> -->
      <!-- <input type="text" name="apellido" placeholder="Apellido"> -->
      <!-- <input type="text" name="edad" placeholder="Edad"> -->
      <input type="text" name="email" placeholder="Email">
      <input type="password" name="contrasena" placeholder="Contraseña">
      <input type="submit"  value="Enviar">
    </form>
  </body>
</html>
