<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/header') %>
    <div class="row">
      <div class="col-4 bg-primary">
        <h1>Bienvenido <%=user.nombre%></h1>
      </div>
      
    </div>   
    <script src="javascripts/mydriver.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
