<!DOCTYPE html>
<html lang="es">
<%-include("partials/head")%>
<body>
    <div id="carouselExample" class="carousel slide bg-info">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1>Noticias 2</h1>
            <p>Hola que tal?</p>
          </div>
          <div class="carousel-item">
            <h1>Noticias</h1>
            <p>Hola</p>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <h1>Últimos Commits</h1>
    <ul id="commitList"></ul>

    <script>
        $(document).ready(function () {
            var usuario = 'jesuggc';
            var repositorio = 'Web-Applications';

            // Endpoint de commits en la API de GitHub
            var apiUrl = 'https://api.github.com/repos/' + usuario + '/' + repositorio + '/commits';

            // Realizar la solicitud a la API de GitHub
            $.get(apiUrl, function (commits) {
                // Iterar sobre los últimos commits
                commits.forEach(function (commit) {
                    // Agregar el título del commit a la lista
                    $('#commitList').append('<li>' + commit.commit.message + '</li>');
                });
            });
        });
    </script>
</body>
</html>