<!DOCTYPE html>
<html>
  <%-include('partials/head') %>
  <body >
    <%-include('partials/headerLogged')%>
    <div class="row">
      <h1>Exito</h1>
    </div>   
    <script src="javascripts/mydriver.js"></script>
    <%-include('partials/footer') %>
  </body>
</html>
