<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="6500">
        <img src="imagenes/madrid.jpg" class="d-block w-100" alt="Primera imagen del destino">
      </div>
      <div class="carousel-item" data-bs-interval="6500">
        <img src="imagenes/barcelona.jpg" class="d-block w-100" alt="Segunda imagen del destino">
      </div>
      <div class="carousel-item" data-bs-interval="6500">
        <img src="imagenes/cadiz.jpg" class="d-block w-100" alt="Tercera imagen del destino">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>