<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <%resultado.imagenes.forEach(ele => { %>
          <div class="carousel-item <%if (resultado.imagenes.indexOf(ele) === 0){%>active<%}%>" data-bs-interval="6500">
            <img src="<%=ele%>" class="d-block w-100" style="height:100%; object-fit:cover;" alt="Primera imagen del destino">
          </div>
      <%})%>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>