<footer>
    <div class="footer richBlack">
        <div class="row p-4 mx-4">
            <div class="col">
                <h2>Contacto</h2>
                <br>
                <ul>
                    <li><a href="mailto:hola@volanding.com">hola@volanding.com</a></li>
                    <li><a href="tel:658095541">Llamanos</a></li>

                </ul>
            </div>
            <div class="col">
                <h2>Conócenos</h2>
                <br>
                <ul>
                    <li><a href="/informacion?data=aboutus">Quienes somos</a></li>
                    <li><a href="/informacion?data=ourteam">Nuestro equipo</a></li>
                    <li><a href="/informacion?data=workhere">Trabaja con nosotros</a></li>
                </ul>
            </div>
            <div class="col ">
                <h2>Ofertas</h2>
                <br>
                <ul>
                    <li><a href="/informacion?data=elders">Tercera edad</a></li>
                    <li><a href="/informacion?data=students">Estudiantes</a></li>
                    <li><a href="/informacion?data=familys">Familias</a></li>

                </ul>
            </div>
            <div class="col">
                <h2>Información legal</h2>
                <br>
                <ul>
                    <li><a href="/informacion?data=legalpolicy">Aviso legal</a></li>
                    <li><a href="/informacion?data=cookies">Cookies</a></li>
                    <li><a href="/informacion?data=privacy">Privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>