<header>
    <div class="p-4 ">
        <div class=" ">
            <a href="./">
                <img src="../images/simplelogo.png" alt="Imagen del logo de la empresa" >
            </a>  
        </div>
        <div class=" d-flex  justify-content-end">
            <button><a href="/login">Iniciar sesión</a></button>
        </div>
    </div>
</header>