<header>
    <div class="p-4 ">
        <a  href="./">
            <img class="mx-auto d-block" src="../imagenes/simplelogo.png" alt="Imagen del logo de la empresa" >
        </a>   
    </div>
</header>