<header>
    <div class="p-4 d-flex justify-content-between">
        <div>
            <a href="./">
                <img src="../images/simplelogo.png" alt="Imagen del logo de la empresa" >
            </a>  
        </div>
        <div class="">
            <button class="btn"><a href="users/login">Iniciar sesión</a></button>
        </div>
    </div>
</header>