<nav class="row navbar navbar-expand-lg navbar-light ms-3 pistachio navAdminHeight"> 
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="inicio" class="nav-link negrita" href="/admin">Inicio</a>
            </li>
            <li class="nav-item">
                <a id="solicitudes" class="nav-link" href="/admin/petitions">Solicitudes</a>
            </li>
            <li class="nav-item">
                <a id="roles" class="nav-link cursorPointer" href="/admin/rols">Roles</a>
            </li>
            <li class="nav-item">
                <a id="estadisticas"class="nav-link cursorPointer">Estadisticas</a>
            </li>
            <li class="nav-item">
                <a id="instalacion" class="nav-link" href="/admin/newInstallation">Añadir instalacion</a>
            </li>
            <li class="nav-item">
                <a id="apariencia" class="nav-link cursorPointer">Apariencia</a>
            </li>
        </ul>
    </div>
</nav>
<hr>