<footer>
   <div class="footer smoky text-white">
       <div class="row">
           <div class="col">         
               <ul>
                   <li><a href="mailto:hola@ucm.es" >hola@ucm.es</a></li>
                   <li><a href="tel:658095541" >Llamanos</a></li>
               </ul>
           </div>
           <div class="col">
               <ul>
                   <li><a href="/informacion?data=aboutus">Quienes somos</a></li>
                   <li><a href="/informacion?data=ourteam">Nuestro equipo</a></li>
                   <li><a href="/informacion?data=workhere">Trabaja con nosotros</a></li>
               </ul>
           </div>
           <div class="col"> 
               <ul>
                   <li><a href="/informacion?data=legalpolicy">Aviso legal</a></li> 
                   <li><a href="/informacion?data=cookies">Cookies</a></li>
                   <li><a href="/informacion?data=privacy">Privacidad</a></li>
               </ul>
           </div>
       </div>
   </div>
</footer>