<footer>
   <div class="footer smoky text-white">
       <div class="row p-3 pt-4">
           <div class="col text-center">         
               <ul>
                   <li class="my-1"><a href="mailto:<%=configuration.correo%>" ><%=configuration.correo%></a></li>
                   <li class="my-1"><a href="tel:<%=configuration.numero%>" >Llamanos</a></li>
                   <li class="my-1"><%=configuration.direccion%></li>
               </ul>
           </div>
           <div class="col text-center">
               <ul>
                   <li class="my-1"><a href="/informacion?data=aboutus">Quienes somos</a></li>
                   <li class="my-1"><a href="/informacion?data=ourteam">Nuestro equipo</a></li>
                   <li class="my-1"><a href="/informacion?data=workhere">Trabaja con nosotros</a></li>
               </ul>
           </div>
           <div class="col text-center"> 
               <ul>
                   <li class="my-1"><a href="/informacion?data=legalpolicy">Aviso legal</a></li> 
                   <li class="my-1"><a href="/informacion?data=cookies">Cookies</a></li>
                   <li class="my-1"><a href="/informacion?data=privacy">Privacidad</a></li>
               </ul>
           </div>
       </div>
   </div>
</footer>