<header class="sticky-top pistachio p-2" >
    <div class="d-flex justify-content-between align-items-center">
        <div class="">
            <a href="/"><img style="max-height: 4em;" src="../images/logo.png"></a>
        </div>
            
        <% if(!locals.user) { %>
            <div>
                <a href="/users/login"><button class="btn btn-primary">Iniciar sesión</button></a>
            </div>
        <% } else { %>
            <% if(locals.user.admin) { %>
                <div>
                    <a href="/users/admin"><button class="btn btn-secondary">Panel de admin</button></a>
                </div>
            <% } %>          
            <div class="text-center">
                <div class="row d-flex align-items-center mb-1">
                    <div class="col">
                        <img class="rounded-circle" style="max-width: 3em;"src="/images/noPicture.jpg">
                    </div>
                    <div class="col">
                        <h3><%=locals.user.nombre%></h3>
                    </div>
                </div>
                <a href="/users/logout"><button class="btn btn-primary">Cerrar sesión</button></a>
            </div>
        <% } %>
    </div>
</header>