<header class="row bg-info sticky-top p-3">
    <div class="col">
        <a href="/"><img  src="images/logo.png"></img></a>
    </div>
    <div class="col d-flex justify-content-end">
        <a href="/login" class="btn my-auto btn-primary">Login</a>
    </div>
</header>