<header class="sticky-top pistachio" >
  <div class="d-flex justify-content-between align-items-center">
    <div >
      <a href="/"><img src="/getLogo" alt="Logo de la página"></a>

    </div>
    <% if(!locals.user) { %>
      <div>
        <a href="/users/login"><button class="btn btn-primary me-3">Iniciar sesión</button></a>
      </div>
    <% } else { %>  
      <div class="dropdown me-3">
        <button class="btn btn-secondary dropdown-toggle mh10vh" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
          <%if(!locals.user.foto) { %>
            <img class="rounded-circle borderProfile mh8vh" src="/images/noPicture.jpg" alt="Imagen de perfil del usuario por defecto">
          <%} else {%>  
            <img class="rounded-circle borderProfile mh8vh" src="/users/profilePhoto/<%=user.id%>" alt="Imagen de perfil del usuario">
          <% }%> 
        </button>
        <ul class="dropdown-menu multi-level text-center">
          <li><h5><%=locals.user.nombre%> <%=locals.user.apellido1%></h5><p><%=locals.user.correo%></p></li>
          <hr>
          <% if(locals.user.admin === 1) { %>
            <li><a class="dropdown-item" href="/admin"><strong>Panel de administrador</strong></a></li>
            <hr>
          <% }%> 
          <li><a class="dropdown-item" href="/users/correo">Correo UCM</a></li>
          <li class="dropstart">
            <a id="newReservation" class="dropdown-item dropdown-toggle" data-bs-toggle ="dropdown" href="#">Nueva reserva</a>
            <ul id="multiLevel" class="dropdown-menu">
            </ul>
          </li>
          <hr>
          <li><a class="dropdown-item" href="/users/logout"><strong class="red">Cerrar sesión</strong></a></li>
        </ul>
      </div>
    <% } %>
  </div>
  <script>
    $("#newReservation").on("click", function(){
      $.ajax({
        url: "/headerOptions",
        success: function(response){
          $("#multiLevel").empty();
          response.forEach(ele => {
            $("#multiLevel").append(`<li><a class="dropdown-item" href="/bookings/${ele.id}">${ele.nombre}</a></li>`);
          });
        }
      })
    });
  </script>
</header>