<div class="col-3 claret text-white">
    <div class="row p-2 rounded-3 m-4 " style="text-align: justify;">
        <h1 class="py-4 mb-4 text-center">¡Bienvenido!</h1>
        <p>Esta es la pagina de reservas de la Universidad Complutense de Madrid</p>
        <p>En esta pagina podras reservar los distintos espacios de la universidad</p>
        <p>Para poder acceder a las reservas es necesario estar registrado como usuario de la UCM</p>
        <p>Si no estas registrado puedes hacerlo <a href="/users/register">aqui</a></p>
        <p>Una vez hecha la solicitud de registro ha de ser aprobada y todo listo!  </p>
    </div>
</div>