<div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:overlay; "class="justify-content bg-danger rounded-4 text-center text-light">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>
  <div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:multiply; "class="justify-content bg-danger rounded-4 text-center text-light">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>
  <div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:screen; "class="justify-content bg-danger rounded-4 text-center">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>
  <div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:soft-light; "class="justify-content bg-danger rounded-4 text-center text-light">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>