<div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:overlay; "class="justify-content bg-danger rounded-4 text-center text-light">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>
  <div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:multiply; "class="justify-content bg-danger rounded-4 text-center text-light">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>
  <div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:screen; "class="justify-content bg-danger rounded-4 text-center">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>
  <div style="height:10em;display: flex;align-items: center; background-image: url('/images/laboratorio.jpg');background-repeat: no-repeat;background-size: cover;background-position: center;background-blend-mode:soft-light; "class="justify-content bg-danger rounded-4 text-center text-light">
    <h1 class="mx-auto color-white">Laboratorios</h1>
  </div>

  Ciencias Biológicas
  - Biología
  - Bioquímica
  Ciencias de la Documentación
  - Informacion y Documentación
  - Musicologia
  Ciencias de la Información
  - Comunicación Audiovisual
  - Periodismo
  - Publicidad y Relaciones Públicas
  Ciencias Económicas y Empresariales
  - Administración y Dirección de Empresas (ADE)
  - Economía
  - Finanzas, Banca y Seguros
  Ciencias Físicas
  - Física
  - Ingeniería de Materiales
  - Ingeniería Electrónica de Comunicaciones Plan 2020
  - Matemáticas - Física
  Ciencias Geológicas
  - Geología
  - Ingeniería Geológica
  Ciencias Matemáticas
  - Economía - Matemáticas y Ciencia de Datos
  - Ingeniería Informática - Matemáticas
  - Ingeniería Matemática
  - Matemáticas
  - Matemáticas - Física
  - Matemáticas y Ciencia de Datos
  Ciencias Políticas y Sociología
  Ciencias Químicas
  Comercio y Turismo
  Derecho
  Educación – Centro de Formación del Profesorado
  Enfermería, Fisioterapia y Podología
  Estudios Estadísticos
  Farmacia
  Filología
  Filosofía
  Geografía e Historia
  Informática
  Medicina
  Odontología
  Óptica y Optometría
  Psicología
  Trabajo Social
  Veterinaria