<div class="col-8 container-lg scrollable" >
  <% options.forEach( ele=> { %>
    <a href="/bookings/<%=ele.id%>">
      <div class="claret divImage justify-content rounded-4 text-center text-light my-2" data-id="<%=ele.id%>">
        <h1 class="mx-auto color-white"><%=ele.nombre%></h1>
      </div>
    </a>
  <%})%>
</div>
<script>

  $(".divImage").each(function (index, element) {
    let id = $(element).data("id")
    $.ajax({
      url: `/optionPhoto/${id}`,
      method: 'GET',
      responseType: 'ArrayBuffer',
      success: function (data) {
        
        let url = data["imageUrl"]
        $(element).css("background-image", `url(${url})`)
      }
    })
  })
</script>