<div class="col-8 container-lg" >
    <a href="/reservations">
        <div style="background-image: url('/images/laboratorio.jfif');background-color: #990032 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Laboratorios</h1>
        </div>
    </a>
    <a href="/reservations">
        <div style="background-image: url('/images/salaDeGrados.jfif');background-color: #990032 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Salas de grados</h1>
        </div>
    </a>
    <a href="/reservations">
        <div style="background-image: url('/images/salaDeReunion.jfif');background-color: #990032 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
          <h1 class="mx-auto color-white">Salas de reunion</h1>
        </div>
    </a>
    <a href="/reservations">
        <div style="background-image: url('/images/salonDeActos.jfif');background-color: #990032 ;" class="divImage justify-content rounded-4 text-center text-light my-2">
            <h1 class="mx-auto color-white">Salon de actos</h1>
        </div>      
    </a>
    </div>