header {
    height: 10em;
}
footer {
    height: 5em;
}
.parent {
    width: 60%;
    margin:auto;
}
.content {
    height: 27em;
    width: 20em;
}
 header, footer, .content {
    width: 100%;
}
header, footer, .content {
    background-color: lightgreen;
    margin: 2px;
    border-radius: 20px;
}