<body>
    <h1>Política de Cookies - Volanding</h1>

    <h2>Nuestra Política de Cookies</h2>
    <p>En Volanding, utilizamos cookies para mejorar la experiencia de usuario en nuestro sitio web. Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo cuando visitas nuestro sitio. Estas cookies nos ayudan a entender cómo interactúas con nuestro contenido y nos permiten personalizar tu experiencia de navegación.</p>

    <h2>Tipos de Cookies que Utilizamos</h2>
    <p><strong>Cookies Esenciales:</strong> Son cookies necesarias para el funcionamiento básico de nuestro sitio. Nos permiten garantizar la seguridad y la integridad del sitio y ofrecerte funciones como el inicio de sesión y la gestión de la cuenta.</p>
    <p><strong>Cookies de Analítica:</strong> Utilizamos herramientas de análisis como Google Analytics para recopilar información sobre cómo los visitantes utilizan nuestro sitio. Esta información nos ayuda a mejorar nuestro contenido y a entender qué áreas de nuestro sitio son más populares.</p>
    <p><strong>Cookies de Publicidad:</strong> Estas cookies se utilizan para mostrar anuncios relevantes para ti y tus intereses. También nos ayudan a medir la efectividad de nuestras campañas publicitarias.</p>

    <h2>Controlar las Cookies</h2>
    <p>Tienes la opción de aceptar o rechazar nuestras cookies. Puedes modificar la configuración de tu navegador para rechazar las cookies o recibir un aviso cuando se estén enviando cookies a tu dispositivo. Sin embargo, al desactivar las cookies, algunas funciones de nuestro sitio pueden no funcionar correctamente.</p>

    <h2>Cambios en Nuestra Política de Cookies</h2>
    <p>Nos reservamos el derecho de modificar esta política de cookies en cualquier momento. Cualquier cambio significativo será notificado en nuestro sitio web.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta sobre nuestra política de cookies, no dudes en contactarnos en <a href="mailto:cookies@volanding.com">cookies@volanding.com</a>.</p>
</body>
