<body>
    <h1>Aviso Legal</h1>

    <h2>Responsabilidad</h2>
    <p>Volanding es una agencia de viajes ficticia creada con fines educativos y de ejemplo. La información proporcionada en este sitio web es solo para referencia general y no constituye asesoramiento profesional. Nos esforzamos por mantener la información actualizada y precisa, pero no garantizamos la integridad, precisión, confiabilidad o disponibilidad del sitio web o de la información, servicios o productos incluidos en él. Cualquier confianza que deposites en esta información es bajo tu propio riesgo.</p>

    <h2>Propiedad Intelectual</h2>
    <p>El contenido de este sitio web, incluyendo pero no limitado a textos, gráficos, logotipos, imágenes y software, está protegido por derechos de autor y otras leyes de propiedad intelectual. El uso no autorizado de dicho contenido puede violar las leyes de derechos de autor y otras leyes aplicables.</p>

    <h2>Enlaces a Terceros</h2>
    <p>Este sitio web puede contener enlaces a sitios web de terceros. Estos enlaces se proporcionan únicamente para tu conveniencia. No tenemos control sobre el contenido de estos sitios web de terceros y no nos hacemos responsables de su contenido ni de cualquier pérdida o daño que puedas sufrir como resultado de su uso.</p>

    <h2>Modificaciones</h2>
    <p>Nos reservamos el derecho de modificar, cambiar o eliminar partes de este aviso legal en cualquier momento sin previo aviso. Te recomendamos que revises periódicamente esta página para estar al tanto de cualquier cambio.</p>

    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta sobre este aviso legal, por favor, contáctanos en <a href="mailto:info@volanding.com">info@volanding.com</a>.</p>
</body>
